@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);
@import url(https://cdnjs.cloudflare.com/ajax/libs/weather-icons/1.2/css/weather-icons.min.css);


.card {
  margin: 30px auto;
  margin-top: 5%;
  padding: 30px;
  width: 290px;
  height: 470px;
  border-radius: 3px;
  background-color: #fff;
  box-shadow: 1px 2px 10px rgba(0, 0, 0, .2);
} 


  
  .form_input {
    
    margin: 10px auto;
    padding: 1rem 2rem;
    border-radius: 0.2rem;
    background-color: rgb(255, 255, 255);
    border: none;
    width: 50%;
    border-bottom: 0.3rem solid transparent;
    transition: all 0.3s;

}

.button_input {
  margin: 10px auto;
  padding: 1rem 2rem;
  border-radius: 0.2rem;
  border: 2px solid  rgb(231, 164, 6);
  font-weight: 300;
  font-size: 1em;
  color: rgb(255, 255, 255);
  background-color: transparent;
  cursor: pointer;
  transition-duration: 0.4s;
  &:hover{
    background-color: rgb(231, 164, 6);
    color: #666;
  }
} 
  
.input_search {
  display: flex;
flex-wrap: wrap;
font-family: 'Roboto', sans-serif;
color: #333;
font-size: 1.2rem;

}


  
