/* You can add global styles to this file, and also import other style files */

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

body {
    width: 100%;
    background: linear-gradient(to right,#2c5364, #203a43, #0f2027);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 35px;
}